/* Reset some default styles */
body, h1, h2, h3, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styling */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a modern sans-serif font */
    background: linear-gradient(45deg, #3498db, #2ecc71); /* Gradient background with blue and green */
    color: #fff; /* Text color */
  }
  
  .container {
    max-width: 960px; /* Adjust as needed */
  }
  
  /* Card styling */
  .card {
    border: 1px solid #34495e; /* Border color from card header */
    border-radius: 8px;
  }
  
  .card-header, .card-body {
    padding: 20px;
  }
  
  .card-header {
    background-color: #34495e; /* Darker blue for the header */
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
  
  .card-header h3 {
    margin-bottom: 0;
  }
  
  /* Form styling */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Input styling */
  .form-control {
    border: none; /* Remove border */
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    color: #333; /* Dark text color */
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #2ecc71; /* Green color */
    border: none;
    border-radius: 4px;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #27ae60; /* Darker green on hover */
  }
  
  .btn-block {
    width: 100%;
  }
  
  /* Responsive margin utilities */
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  /* Footer styling */
  footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #34495e; /* Darker blue background for the footer */
    color: #fff;
  }
  